[user]
	name = Tristan Fox
	email = tristanfox009@outlook.com
[safe]
	directory = C:/vcpkg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
